@model Assignment2.Models.BlogPost
@{
    Layout = "_Layout";
    ViewData["Title"] = "Add Blog Post";
}

<div class="row">
    <div class="col-xs-8">
        <div class="panel panel-border-color">
            <div class="panel-heading">
                <h2>Add Blog Post</h2>
            </div>
            <div class="panel-body">
                <form asp-controller="Home" asp-action="CreateBlogPost">
                    <table>
                        <tbody>
                            <tr>
                                <td><label for="Title">Title:</label></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="Title" asp-for="Title" /></td>
                            </tr>
                            <tr>
                                <td><label for="ShortDescription">Short Description:</label></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="ShortDescription" asp-for="ShortDescription" /></td>
                            </tr>
                            <tr>
                                <td><label for="Content">Content:</label></td>
                            </tr>
                            <tr>
                                <td><textarea rows="5" cols="90" name="Content" asp-for="Content" placeholder="Blog post content..."></textarea></td>
                            </tr>
                            <tr>
                                <td><label for="IsAvailable">Is Available:</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <select asp-for="IsAvailable" name="IsAvailable">
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><input class="btn" type="submit" value="Post" /></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
